
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans serif;
}

.display {
  background: rgb(218, 218, 218);
  height: 13rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator {
  background: white;
  height: 40rem;
  width: 35rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: white;
  height: 3.5rem;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
  color: black;
  border: none;
  font-size: 2rem;
}

.button:hover {
  background-color: rgb(229, 229, 229);
}

.equals {
  background: orange;
  color: white;
  border-radius: 40px;
  grid-column: 3/5;
}

.equals:hover {
  background: green;
}

.opt {
  color: orange;
}

.clr {
  background: red;
}